<div id="containerToolbar">

    <p-toolbar class="toolbar" [style]="{ 'background-color': '#1975A5' }">
        <ng-template pTemplate="start">
            <span id="nomeDaPagina">{{tituloPagina}}</span>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <p-avatar image="../../../../assets/Imagens/avatarH.jpg" shape="circle" />
                <span class="font-bold text-bluegray-50" [style]="{ 'margin-left': '5px' }">Dr. {{usuarioLogado.nomeUsuario}}</span>
            </div>
        </ng-template>
    </p-toolbar>
</div>
