@import'../../variaveis/variaveis.scss';
#containerToolbar {

    #nomeDaPagina {
        margin-left: 45px;
    }
}

@media screen and (max-width: 369px) {
    #nomeDaPagina {
        margin-left: 0px;
    }
}

@media screen and (min-width: 769px) {
    #nomeDaPagina {
        margin-left: 26vw; 
    }
}

@media screen and (min-width: 1024px) {
    #nomeDaPagina {
        margin-left: 18rem; 
    }
}
