#containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;

    #containerFoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80dvw;
        border-bottom: 5px ridge #1975A5;

        #img-login {
            margin-top: 3rem;
            width: 16rem;
        }

        #containerIcones {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            #img-lab365 {
                width: 5rem;
                height: 2rem;
            }

            #img-labmedical {
                width: 5rem;
            }
        }
    }

    #login {
        color: #5C5F63;
        margin: 0.5rem;
    }

    #containerFormulario {
        display: flex;
        flex-direction: column;
        align-items: center;

        .inputs {
            margin: 1rem
        }
    }

    #esqueceuSenha {
        margin-top: 1rem;
        color: #0000FF;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }


        #cadastrar {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .btnsSecundarios {
                margin-left: 5px;
            }
        }
    }
}

@media screen and (min-width: 481px) {
    #containerLogin {

        #containerFoto {

            #img-login {
                width: 20rem;
            }

            #containerIcones {

                #img-lab365 {
                    width: 5.5rem;
                }

                #img-labmedical {
                    width: 5.5rem;
                }
            }
        }
    }

}

@media screen and (min-width: 769px) {
    #containerLogin {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0.7rem;

        #containerFoto {
            width: 55vw;
            height: 95vh;
            border-bottom: none;
            border-right: 5px ridge #1975A5;
            padding: 2rem;

            #img-login {
                width: 25rem;
                margin-top: 20vh;
            }

            #containerIcones {
                display: flex;
                justify-content: end;
                width: 100%;

                #img-lab365 {
                    position: absolute;
                    bottom: 2rem;
                    width: 6rem;
                    height: 2.5rem;
                }

                #img-labmedical {
                    position: absolute;
                    right: 4.5rem;
                    bottom: 1.5rem;
                    width: 6rem;
                }
            }
        }


        #containerFormulario {
            width: 45vw;
        }
    }
}

@media screen and (min-width: 1025px) {

    #containerLogin {

        #containerFoto {

            #img-login {
                width: 35rem;
            }
        }
    }
}

@media screen and (min-width: 1201px) {

    #containerLogin {

        #containerFoto {

            #img-login {
                width: 40rem;
            }
        }
    }
}

.classeErro {
    margin-top: 0px;
    margin-bottom: 10px;
    color: red;
}
