<div id="containerPagCadastro">
    <h2 *ngIf="router.url === '/cadastro-paciente'">Preencha os campos para cadastrar</h2>
    <h2 *ngIf="router.url === '/inicio'">Preencha os campos para editar</h2>
    <div id="containerCadastro">
        <h3>Identificação</h3>
        <form id="containerFormulario" (ngSubmit)="cadastrar()" [formGroup]="formCadastroPaciente">
            <p-toast position="top-right"></p-toast>
            <label for="nomeCompleto" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.nomePaciente.touched &&
            formCadastroPaciente.controls.nomePaciente.errors}">* Nome Completo</label>
            <input id="nomeCompleto" type="text" pInputText formControlName="nomePaciente" [ngClass]="{'erroInput': formCadastroPaciente.controls.nomePaciente.touched &&
                                     formCadastroPaciente.controls.nomePaciente.errors}" />
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.nomePaciente.touched &&
                    formCadastroPaciente.controls.nomePaciente.errors">
                * Campo obrigatório e deve conter no minimo 8 caracteres e no maximo 64 caracteres!
            </small>

            <label for="genero" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.genero.touched &&
            formCadastroPaciente.controls.genero.errors}">* Gênero</label>
            <p-dropdown id="genero" formControlName="genero" [options]="generos" placeholder="Selecione um gênero"
                [ngClass]="{'erroInput': formCadastroPaciente.controls.genero.touched &&
                                     formCadastroPaciente.controls.genero.errors}"></p-dropdown>
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.genero.touched &&
                    formCadastroPaciente.controls.genero.errors">
                * Campo obrigatório!
            </small>

            <label for="dataNascimento" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.dataNascimento.touched &&
            formCadastroPaciente.controls.dataNascimento.errors}">* Data Nascimento</label>
            <p-calendar class="tamnhoCalendario" id="dataNascimento" formControlName="dataNascimento" dateFormat="dd/mm/yy" [autoZIndex]="false"
                [touchUI]="true" [showIcon]="true"></p-calendar>
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.dataNascimento.touched &&
                    formCadastroPaciente.controls.dataNascimento.errors">
                * Campo obrigatório e a data deve estar no formato dd/mm/aaaa!
            </small>

            <label for="cpf" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.cpf.touched &&
            formCadastroPaciente.controls.cpf.errors}">* CPF</label>
            <p-inputMask id="cpf" formControlName="cpf" mask="999.999.999-99" [ngClass]="{'erroInput': formCadastroPaciente.controls.cpf.touched &&
                                     formCadastroPaciente.controls.cpf.errors}"></p-inputMask>
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.cpf.touched &&
                    formCadastroPaciente.controls.cpf.errors">
                * Campo obrigatório!
            </small>

            <label for="rg" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.rg.touched &&
            formCadastroPaciente.controls.rg.errors}">* RG e Orgão Expeditor</label>
            <input id="rg" type="text" pInputText formControlName="rg" [ngClass]="{'erroInput': formCadastroPaciente.controls.rg.touched &&
                                     formCadastroPaciente.controls.rg.errors}" />
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.rg.touched &&
                    formCadastroPaciente.controls.rg.errors">
                * Campo obrigatório e deve conter no maximo 20 caracteres!
            </small>

            <label for="estadoCivil" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.estadoCivil.touched &&
            formCadastroPaciente.controls.estadoCivil.errors}">* Estado civil</label>
            <p-dropdown id="estadoCivil" formControlName="estadoCivil" [options]="estadosCivis"
                placeholder="Selecione um estado civil" [ngClass]="{'erroInput': formCadastroPaciente.controls.estadoCivil.touched &&
                                     formCadastroPaciente.controls.estadoCivil.errors}"></p-dropdown>
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.estadoCivil.touched &&
                    formCadastroPaciente.controls.estadoCivil.errors">
                * Campo obrigatório!
            </small>

            <label for="telefone" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.telefone.touched &&
            formCadastroPaciente.controls.telefone.errors}">* Telefone</label>
            <p-inputMask id="telefone" formControlName="telefone" mask="(99) 9 9999-9999" [ngClass]="{'erroInput': formCadastroPaciente.controls.telefone.touched &&
                                     formCadastroPaciente.controls.telefone.errors}"></p-inputMask>
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.telefone.touched &&
                    formCadastroPaciente.controls.telefone.errors">
                * Campo obrigatório!
            </small>

            <label for="email" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.email.touched &&
            formCadastroPaciente.controls.email.errors}">* E-Mail</label>
            <input id="email" type="text" pInputText formControlName="email" [ngClass]="{'erroInput': formCadastroPaciente.controls.email.touched &&
                                     formCadastroPaciente.controls.email.errors}" />
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.email.touched &&
                    formCadastroPaciente.controls.email.errors">
                * Campo obrigatório e deve ser um email!
            </small>

            <label for="naturalidade" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.naturalidade.touched &&
            formCadastroPaciente.controls.naturalidade.errors}">* Naturalidade</label>
            <input id="naturalidade" type="text" pInputText formControlName="naturalidade" [ngClass]="{'erroInput': formCadastroPaciente.controls.naturalidade.touched &&
                                     formCadastroPaciente.controls.naturalidade.errors}" />
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.naturalidade.touched &&
                    formCadastroPaciente.controls.naturalidade.errors">
                * Campo obrigatório e deve conter no minimo 8 caracteres e no maximo 64 caracteres!
            </small>

            <label for="contatoEmergencia" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.contatoEmergencia.touched &&
            formCadastroPaciente.controls.contatoEmergencia.errors}">* Contato de Emergência</label>
            <p-inputMask id="contatoEmergencia" formControlName="contatoEmergencia" mask="(99) 9 9999-9999" [ngClass]="{'erroInput': formCadastroPaciente.controls.contatoEmergencia.touched &&
                                     formCadastroPaciente.controls.contatoEmergencia.errors}"></p-inputMask>
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.contatoEmergencia.touched &&
                    formCadastroPaciente.controls.contatoEmergencia.errors">
                * Campo obrigatório!
            </small>

            <label for="alergias">Alergias</label>
            <input id="alergias" type="text" pInputText formControlName="alergias" />

            <label for="cuidadosEspecificos">Cuidados Específicos</label>
            <input id="cuidadosEspecificos" type="text" pInputText formControlName="cuidadosEspecificos" />

            <h3>Convênio</h3>

            <label for="convenio">Convênio</label>
            <input id="convenio" type="text" pInputText formControlName="convenio" />

            <label for="numeroConvenio">Número do Convênio</label>
            <p-inputNumber id="numeroConvenio" inputId="integeronly" formControlName="numeroConvenio"
                [useGrouping]="false"></p-inputNumber>

            <label for="validade">Validade</label>
            <p-calendar class="tamnhoCalendario" id="validade" formControlName="validade" dateFormat="dd/mm/yy" [autoZIndex]="false"
                [touchUI]="true" [showIcon]="true"></p-calendar>

            <h3>Dados do Endereço</h3>

            <label for="cep" [ngClass]="{'erroLabel': 
            formCadastroPaciente.controls.cep.touched &&
            formCadastroPaciente.controls.cep.errors}">* CEP</label>
            <p-inputMask id="cep" formControlName="cep" mask="99999-999" [ngClass]="{'erroInput': formCadastroPaciente.controls.cep.touched &&
                                     formCadastroPaciente.controls.cep.errors}"></p-inputMask>
            <small [ngClass]="{'avisarErro': formCadastroPaciente.invalid}" *ngIf="
                    formCadastroPaciente.controls.cep.touched &&
                    formCadastroPaciente.controls.cep.errors">
                * Campo obrigatório!
            </small>
            <p-button type="button" label="Procurar CEP" (click)="procurarCep()" [outlined]="true"
                severity="info" class="tamanho"></p-button>

            <label for="cidade">Cidade</label>
            <input id="cidade" type="text" pInputText formControlName="cidade" />

            <label for="estado">Estado</label>
            <input id="estado" type="text" pInputText formControlName="estado" />

            <label for="logradouro">Logradouro</label>
            <input id="logradouro" type="text" pInputText formControlName="logradouro" />

            <label for="numero">Número</label>
            <input id="numero" type="text" pInputText formControlName="numero" />

            <label for="complemento">Complemento</label>
            <input id="complemento" type="text" pInputText formControlName="complemento" />

            <label for="bairro">Bairro</label>
            <input id="bairro" type="text" pInputText formControlName="bairro" />

            <label for="pontoReferencia">Ponto de Referência</label>
            <input id="pontoReferencia" type="text" pInputText formControlName="pontoReferencia" />

            <div *ngIf="router.url === '/inicio'">
                <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
                <p-button (click)="editar()" type="button" label="Salvar" [outlined]="true" severity="info" class="tamanho"></p-button>
            </div>

            <p-button *ngIf="router.url === '/cadastro-paciente'" type="ngSubmit" label="Salvar" class="tamanho"></p-button>
        </form>
    </div>
</div>