<div id="pagCadastroConsulta">
    <h2>Encontre o paciente</h2>
    <div id="containerPesquisar">
        <p-toast position="top-right"></p-toast>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="procurarPaciente" />
        </span>
        <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>   
            <p-button class="btnPesquisar" (click)="buscarPaciente()" label="Buscar" [text]="true" [raised]="true" severity="secondary"></p-button>
        </div>
    </div>
    <div id="containerCadastro">
        <h3 *ngIf="paciente">Consulta de {{paciente.nomePaciente}}</h3> 
        <form id="containerFormulario" (ngSubmit)="cadastrar()" [formGroup]="formCadastroConsulta">
            <label for="motivoConsulta">* Motivo da Consulta</label>
            <input id="motivoConsulta" type="text" pInputText formControlName="motivoConsulta" />

            <label for="dataConsulta">* Data da Consulta</label>
            <p-calendar id="dataConsulta" formControlName="dataConsulta" dateFormat="dd/mm/yy" [showIcon]="true" [touchUI]="true"></p-calendar>

            <label for="horaConsulta">* Hora da Consulta</label>
            <p-calendar id="horaConsulta" formControlName="horaConsulta" [timeOnly]="true" [showIcon]="true" [touchUI]="true"></p-calendar>

            <label for="descProblema">* Descrição do Problema</label>
            <textarea id="descProblema" formControlName="descProblema" rows="5" cols="30" pInputTextarea [autoResize]="true"></textarea>

            <label for="medicacaoReceitada">Medicação Receitada</label>
            <textarea id="medicacaoReceitada" formControlName="medicacaoReceitada" rows="2" cols="30" pInputTextarea [autoResize]="true"></textarea>

            <label for="dosagensPrecaucoes">* Dosagens e Precauções</label>
            <textarea id="dosagensPrecaucoes" formControlName="dosagensPrecaucoes" rows="2" cols="30" pInputTextarea [autoResize]="true"></textarea>

            <p-button label="Editar" [outlined]="true" severity="info"></p-button>
            <p-button label="Deletar" [outlined]="true" severity="danger"></p-button>
            <p-button type="ngSubmit" label="Salvar"></p-button>
        </form>
        <div class="card flex justify-content-center gap-2">
</div>

