<div id="containerInicio">
    <div id="containerEstatisticas">
        <h3>Estatisticas do Sistema</h3>

        <div id="containerNumeros">
            <div class="numeros">
                <span class="img-numero">
                    <img src="../../assets/Imagens/numerosPacientes.png" alt="numeros-pacientes">
                    <h1 class="hMargin">{{pacientes.length}}</h1>
                </span>
                <h3 class="hMargin">Pacientes</h3>
            </div>
            <div class="numeros">
                <span class="img-numero">
                    <img src="../../assets/Imagens/numerosConsultas.png" alt=" numeros-consultas">
                    <h1 class="hMargin">{{totalConsultas}}</h1>
                </span>
                <h3 class="hMargin">Consultas</h3>
            </div>
            <div class="numeros">
                <span class="img-numero">
                    <img src="../../assets/Imagens/numerosExames.png" alt="numeros-exames">
                    <h1 class="hMargin">{{totalExames}}</h1>
                </span>
                <h3 class="hMargin">Exames</h3>
            </div>
        </div>
    </div>
    <div id="containerInfo">
        <h3>Informações Rápidas de Paciêntes</h3>
        <div id="containerPesquisar">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="procurarPaciente" />
            </span>
            <p-button class="btnPesquisar" label="Buscar" (click)="buscarPaciente()" [text]="true" [raised]="true"
                severity="secondary"></p-button>
        </div>
        <p-toast></p-toast>
        <div class="containerCards">
            <app-card-paciente *ngFor="let paciente of  listaPacientes" [pacientes]="paciente" (atualizarLista)="atualizarListaPacientes()"></app-card-paciente>
            <p-button *ngIf="listaPacientes.length === 1" id="mostrarTodosPacientes" class="btnPesquisar"
                label="Mostrar todos os pacientes" (click)="mostrarTodosPacientes()" [outlined]="true" [raised]="true"
                severity="secondary"></p-button>
        </div>
    </div>
</div>